@model IEnumerable<CFF_CRM.Models.SupplyRequest>

@{
    ViewData["Title"] = "Supply Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Supply Request List</h1>


@if (ViewBag.Result != null)
{
<div class="alert alert-success" role="alert">
    You have successfully transfer ownership!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<div id="msgfail" class="alert alert-danger" role="alert" style="display: none;">
    Change owner failed! You need enter a username to proceed changing ownership.
    <button class="close msgfailclose" >
        <span>&times;</span>
    </button>
</div>

<form id="changeownerform" method="post">
    <label>New Owner:</label>
    <input id="UserName" name="UserName" placeholder="Username" required value="@(ViewBag.Result)"/>
</form>
<p class="text-right">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table id="supply_request" class="table table-sm">
    <thead>
        <tr>
            <th>SupplyRequestId</th>
            <th>
                Status
            </th>
            <th>
                Order Item
            </th>
            <th>
                Origin
            </th>
            <th>
                Type
            </th>
            <th>
                Client Name
            </th>
            <th>
                Owner Name
            </th>
            <th>
                Created By
            </th>
            <th>
                Created Time
            </th>
            <th>
                Update By
            </th>
            <th>
                Update Time
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.SupplyRequestId)</td>
                <td>
                    <span style="background-color:@item.status.Color" class="badge text-white">@Html.DisplayFor(modelItem => item.status.Name)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supplyRequestOrigin.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supplyRequestType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateTime)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@item.SupplyRequestId">Edit</a> |
                    <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-route-id="@item.SupplyRequestId">Details</a> |
                    <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.SupplyRequestId">Delete</a> |
                    <button class="btn btn-sm btn-outline-primary">Change Owner</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#supply_request').DataTable({
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }]
            });
            $('#supply_request tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                $("#changeownerform").attr('action', '/SupplyRequests/ChangeOwner/' + data[0]);
                var username = $("#UserName").val();
                if (username != null && username.length > 0) {
                    $("#changeownerform").submit();
                } else {
                    $("#msgfail").toggle();
                }
                
            });
            $(".msgfailclose").click(function () {
                $("#msgfail").toggle();
            });
        });
    </script>
}