@model IEnumerable<CFF_CRM.Models.SupplyRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Order Item
            </th>
            <th>
                Supply Request Origin
            </th>
            <th>
                Supply Request Type
            </th>
            <th>
                Client Name
            </th>
            <th>
                Owner Name
            </th>
            <th>
                Created By
            </th>
            <th>
                Created Time
            </th>
            <th>
                Update By
            </th>
            <th>
                Update Time
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplyRequestOrigin.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplyRequestType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplyRequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SupplyRequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplyRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
